# when creating environment use
# `micromamba create -n ryu pip==20.0.2 python==3.8.10 setuptools==44.0.0`
# `micromamba activate ryu`
# `pip install -r requirements.txt`
setuptools==44.0.0
eventlet==0.30.2
certifi==2023.7.22
charset-normalizer==3.3.0
debtcollector==2.5.0
dnspython==1.16.0
greenlet==3.0.0
idna==3.4
msgpack==1.0.7
netaddr==0.9.0
oslo.config==9.2.0
oslo.i18n==6.1.0
ovs==3.1.2
packaging==20.9
pbr==5.11.1
pyparsing==3.1.1
PyYAML==6.0.1
repoze.lru==0.7
requests==2.31.0
rfc3986==2.0.0
Routes==2.5.1
ryu==4.34
six==1.16.0
sortedcontainers==2.4.0
stevedore==5.1.0
tinyrpc==1.0.4
urllib3==2.0.6
WebOb==1.8.7
wrapt==1.15.0

scapy~=2.5.0
